<h1><%= @client.business_name %></h1>

<ul>
  <li><%= @client.address %></li>
  <li><%= @client.suburb %></li>
  <li><%= @client.state %></li>
  <li><%= @client.postcode %></li>
  <li><%= @client.contact_name %></li>
  <li><%= @client.mobile_number %></li>
  <li><%= @client.phone_number %></li>
</ul>

<div class="controls">
  <%= link_to 'Edit', edit_client_path(@client) %>
  <%= link_to 'Delete', @client, :method => :delete, :data => { :confirm => "Are you sure?" } %>
</div>
