<div class="non-home-page-div">
  <h1 class="non-home-page-title"><%= @job_ad.title %></h1>

  <ul class="non-homepage-text">
    <li><%= @job_ad.description %></li>
    <li><%= @job_ad.employment_type %></li>
    <li><%= @job_ad.address %></li>
    <li><%= @job_ad.suburb %></li>
    <li><%= @job_ad.state %></li>
    <li><%= @job_ad.postcode %></li>
    <li><%= @job_ad.skills %></li>
    <li><%= link_to @job_ad.client.business_name, @job_ad.client if @job_ad.client %></li>
  </ul>

  <div class="controls">
    <%= link_to 'Edit', edit_job_ad_path(@job_ad), :class => "button-one non-home-page-button" %>
    <%= link_to 'Delete', @job_ad, :class => "button-one non-home-page-button", :method => :delete, :data => { :confirm => "Are you sure?" } %>
  </div>
</div>
